body {
  margin: 0 auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

button {
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e07070;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
          box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
}

.navbar_script {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f16464), to(#eb994d));
  background-image: linear-gradient(#f16464, #eb994d);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
          box-shadow: 0px 0px 15px rgba(8, 8, 8, 0.877);
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 15vh;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.navbar-logo img {
  height: 60px;
  width: 150px;
  margin: 5px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35em;
}

.list-item {
  font-size: 18px;
  color: #ffffff;
  list-style: none;
}

.list-item:hover {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

/*nav responsive */
.nav-mobile {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 1em;
  }
  .navbar_script {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 10vh;
    padding: 1em;
  }
  .nav-mobile {
    display: inline-block;
  }
  .menu-list {
    display: none;
  }
  .navbar-logo {
    position: absolute;
    left: 40em;
  }
  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* esconde o input falso */
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #0e0d0d;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-1px, -2px);
            transform: rotate(45deg) translate(-1px, -2px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
  .burguer-menu-list {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #e07070;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .list-item {
    padding: 10px 0;
    font-size: 22px;
  }
  ul a:hover {
    background-color: #e07070;
    width: 100%;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 720px) {
  .navbar-logo {
    display: none;
  }
}

/* nav dropdonw*/
.dropbtn {
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background: #e07070;
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* START SLIDER BANNER SECTION*/
.slide {
  position: relative;
}

.my-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tns-nav {
  padding: 20px;
  position: relative;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.tns-outer {
  margin: 0 auto;
}

.tns-horizontal.tns-subpixel > .tns-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-outer {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tns-outer [data-action] {
  display: none;
}

.tns-nav > button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.arrow__navegation--banner {
  position: absolute;
  top: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: .5;
}

.slide__item_1 {
  background-image: url(../../img/palhacos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
}

.slide__item_1 h1 {
  padding: 5% 0 2%;
  font-size: 32px;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  text-transform: uppercase;
}

.slide__item_1 h2 {
  text-align: center;
  padding: 0 10% 1%;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  font-size: 22px;
}

.slide__item_2 {
  background-image: url(../../img/corredores_hospitalegre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
}

.slide__item_2 h1 {
  padding: 5% 0 2%;
  font-size: 32px;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  text-transform: uppercase;
}

.slide__item_2 h2 {
  text-align: center;
  padding: 0 10% 1%;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  font-size: 22px;
}

.slide__item_3 {
  background-image: url(../../img/palhacos2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ffffff;
}

.slide__item_3 h1 {
  padding: 5% 0 2%;
  font-size: 32px;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  text-transform: uppercase;
}

.slide__item_3 h2 {
  text-align: center;
  padding: 0 10% 1%;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .slide__item_1 {
    background-image: url(../../img/palhacos.jpg);
    background-size: 450px 500px;
    background-repeat: no-repeat;
    padding: 50px 0;
    height: 550px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #ffffff;
  }
  .slide__item_1 h1 {
    padding: 5% 2% 2%;
    font-size: 32px;
    text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
    text-transform: uppercase;
  }
  .slide__item_1 h2 {
    text-align: justify;
    text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
    font-size: 18px;
  }
  .slide__item_2 {
    background-image: url(../../img/corredores_hospitalegre.jpg);
    background-size: 450px 500px;
    background-repeat: no-repeat;
    padding: 50px 0;
    height: 550px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #ffffff;
  }
  .slide__item_2 h1 {
    padding: 5% 2% 2%;
    font-size: 32px;
    text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
    text-transform: uppercase;
  }
  .slide__item_2 h2 {
    text-align: justify;
    text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
    font-size: 18px;
  }
  .slide__item_3 {
    background-image: url(../../img/palhacos2.jpg);
    background-size: 450px 500px;
    background-repeat: no-repeat;
    padding: 50px 0;
    height: 550px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #ffffff;
  }
  .slide__item_3 h1 {
    padding: 5% 2% 2%;
    font-size: 32px;
    text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
    text-transform: uppercase;
  }
  .slide__item_3 h2 {
    text-align: justify;
    text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
    font-size: 18px;
  }
}

/* END SLIDER BANNER SECTION*/
/* START presentation SECTION*/
.presentation {
  margin: 0 auto;
  width: 90%;
  padding: 3%;
}

.presentation__title {
  margin: 5%;
  text-align: center;
  color: #cb0808;
  font-weight: bold;
}

.presentation__title p {
  font-size: 22px;
}

.presentation__container {
  margin: 0 auto;
  padding: 5%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.presentation__container h3 {
  font-size: 32px;
  color: #47b1b8;
}

.presentation__container p {
  font-size: 22px;
  color: #6c6c70;
}

.presentation__container img {
  width: 40%;
}

.presentation__text {
  width: 40%;
  margin: 30px;
  height: 300px;
}

@media screen and (max-width: 650px) {
  .presentation__container {
    margin: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
  }
  .presentation__container h3 {
    font-size: 32px;
    color: #47b1b8;
    width: 100%;
  }
  .presentation__container p {
    font-size: 22px;
    color: #6c6c70;
    width: 100%;
  }
  .presentation__container img {
    display: none;
  }
  .presentation__text {
    width: 100%;
    margin: 30px;
    height: 300px;
  }
}

/* END presentation SECTION*/
/* START objective SECTION*/
.objective {
  margin: 0 auto;
  width: 90%;
  padding: 3%;
}

.title-objective {
  color: #47b1b8;
  font-size: 32px;
  text-align: center;
  padding-bottom: 15px;
}

.subtitle-objective {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  line-height: 1.55;
  padding-bottom: 5%;
  font-size: 22px;
  color: #6c6c70;
}

.img-slide {
  height: 200px;
}

.txt-img {
  width: 65%;
  margin: 0 auto;
  padding: 20px 0px;
  color: #6c6c70;
  font-size: 22px;
}

.title-img {
  font-weight: bold;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-top: 10px;
  color: #47b1b8;
  font-size: 22px;
}

.secondArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  width: 100%;
}

/* END objective SECTION*/
/* START contact SECTION*/
.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47b1b8), to(#f4a845));
  background-image: linear-gradient(#47b1b8, #f4a845);
  width: 100%;
  height: 400px;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact label {
  color: aliceblue;
}

.contact label,
.contact textarea {
  font-size: .8rem;
  letter-spacing: 1px;
}

.contact textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 1px #999;
          box-shadow: 1px 1px 1px #999;
}

.contact h1 {
  padding: 5% 0 2%;
  font-size: 32px;
  text-shadow: 0px 0px 15px rgba(2, 2, 2, 0.877);
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
}

.contact .info {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 3%;
}

.contact .mensagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5%;
}

@media only screen and (max-width: 650px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 630px;
  }
  .info {
    width: 80%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 3%;
  }
}

footer {
  background-color: #e07070;
  min-height: 20px;
  text-align: center;
  margin-top: 0px;
  padding: 10px 0px 10px 0px;
}

footer img {
  width: 25px;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */