body{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

button{
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 40px;
    cursor: pointer;  
    outline: none;  
}

.container{
  margin: 0 auto;
  width: 90%;

}