footer {
    background-color: $color-clarprimary;
    min-height: 20px;
    text-align: center;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    
  
    img {
      width: 25px;
    }
  
    p {
     
      color: #fff;
      text-align: center;
      font-size: 13px;
    }
  }