    
    /* START presentation SECTION*/
    
.presentation{
    margin: 0 auto;
    width: 90%;
    padding: 3%;
}

.presentation__title{
    margin: 5%;
    text-align: center;
    color:$color-primary;
    font-weight: bold;

    p{
        font-size: $font-size-text;
    }
}
.presentation__container{
    margin: 0 auto;
    padding: 5%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    
    h3{
        font-size: $font-size-title;
        color: $color-quartenary;
    }

    p{
        font-size: $font-size-text;
        color: $color-darksecundary;
    }

    img{
        width: 40%;
    }
}

    .presentation__text{
    width: 40%;
    margin: 30px;
    height: 300px;
    }
    

    @media screen and (max-width: 650px) {
    .presentation__container{
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        font-weight: bold;
        
        h3{
            font-size: $font-size-title;
            color: $color-quartenary;
            width: 100%;
        }
    
        p{
            font-size: $font-size-text;
            color: $color-darksecundary;
            width: 100%;
        }
    
        img{
            display: none;
        }
    }

    .presentation__text{
        width: 100%;
        margin: 30px;
        height: 300px;
        }
    }
    

/* END presentation SECTION*/

     /* START objective SECTION*/

.objective{
    margin: 0 auto;
    width: 90%;
    padding: 3%;
    }

.title-objective {
    color: $color-quartenary;
    font-size: $font-size-title;
    text-align: center;
    padding-bottom: 15px;
}

.subtitle-objective {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 1.55;
    padding-bottom: 5%;
    font-size: $font-size-text;
    color: $color-darksecundary;
}

.img-slide {
    height: 200px;
}

.txt-img {
    width: 65%;
    margin: 0 auto;
    padding: 20px 0px;
    color: $color-darksecundary;
    font-size: $font-size-text;
}

.title-img {
    font-weight: bold;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-top: 10px;
    color: $color-quartenary;
    font-size: $font-size-text;
}

.secondArrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 100%;
}

